<div class="m-8 text-center">
  <button id="sound-toggle" class="p-4 rounded text-white bg-orange-500 shadow-md">
    Sound off! Click to activate.
  </button>

  <div class="mt-16">
    <div>Transactions</div>
    <div id="tx-counter" class="mt-2 text-xl">0</div>
  </div>

  <div class="mt-8">
    <div>Blocks</div>
    <div id="block-counter" class="mt-2 text-xl">0</div>
  </div>
</div>